

<span style="color: purple; font-weight: bold;" class="mx-3">
  {{ title }} está ejecutándose y será una gran aplicación!
</span>
<br>
<span class="mx-3">{{saludo}}</span>
<br><hr>

<div class="container mb-2">
  <app-empleados></app-empleados>
</div>
<hr>

<div class="container mt-2">
  <app-registro-usuarios></app-registro-usuarios>
</div>
<hr>

<div class="container mt-2">
  <app-mini-calculadora></app-mini-calculadora>
</div>
<hr>

<div class="container mt-2">
  <app-empleado></app-empleado>
</div>

